/* Site: catherinekleimeier.com */

/* Misc Settings */
/* ---------------------------- */
@charset "utf-8";



/* Imports */
/* ---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300&display=swap');

/* Tailwind */
@import 'tailwind';

/* Custom */
@import 'typography';
@import 'hero';

:root {
	--font-display: theme('fontFamily.display');
	--font-sans: theme('fontFamily.sans');
	--font-serif: theme('fontFamily.serif');
	--color-dark-purple   : theme('colors.dark-purple');
	--color-medium-purple : theme('colors.medium-purple');
	--color-light-purple  : theme('colors.light-purple');
	--color-dark-blue     : theme('colors.dark-blue');
	--color-medium-blue   : theme('colors.medium-blue');
	--color-light-blue    : theme('colors.light-blue');
	--color-cyan          : theme('colors.cyan');
	--color-dark-green    : theme('colors.dark-green');
	--color-yellow        : theme('colors.yellow');
	--color-pink          : theme('colors.pink');
	--color-white         : theme('colors.white');
	--color-grey          : theme('colors.grey');
	--color-black         : theme('colors.black');
}

html {
	background: var(--color-black);
}