/* Site: catherinekleimeier.com */

/* Misc Settings */
/* ---------------------------- */
@charset "utf-8";



/* Imports */
/* ---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300&display=swap');

/* Tailwind */
@import 'tailwind';

/* Custom */
@import 'typography';

:root {
    --font-display: theme('fontFamily.display');
    --font-sans: theme('fontFamily.sans');
    --font-serif: theme('fontFamily.serif');
    --color-white         : theme('colors.white');
    --color-grey          : theme('colors.grey');
    --color-black         : theme('colors.black');
    --color-teal          : theme('colors.teal');
    --color-brozen        : theme('colors.bronze');
}

html {
    background: var(--color-white);
}