/* Site: catherinekleimeier.com */
/* File: settings */

/* Colors */
/* ---------------------------- */
$black: #3E3C46;
$dark-grey: #24253D;
$light-grey: #CDCDD1;
$teal: #19A8AE;
$indigo: #5B5D9A;


/* Typography */
/* ---------------------------- */
$title-color: $black;
$body-color: $dark-grey;
$meta-color: $light-grey;
$title-font-family: 'Raleway', sans-serif;
$body-font-family: 'Nunito', sans-serif;