/* Site: catherinekleimeier.com */
/* File: settings */

/* Colors */
/* ---------------------------- */
$black: #3E3C46;
$dark-grey: #24253D;
$light-grey: #CDCDD1;
$teal: #19A8AE;
$indigo: #5B5D9A;

/* Bulma Variables */
/* ---------------------------- */
$primary: $teal;
$secondary: $indigo;
$link: $indigo;
$info: $light-grey;
$dark: $black;
$text: $dark-grey;


/* Typography */
/* ---------------------------- */
$title-color: $black;
$body-color: $dark-grey;
$meta-color: $light-grey;
$title-font-family: 'Raleway', sans-serif;
$body-font-family: 'Nunito', sans-serif;


h1, .title.is-1 {
	color: $primary;
	font-family: $title-font-family;
}

h2, h3, h4, .title.is-2, .title.is-3, .title.is-4 {
	color: $title-color;
	font-family: $title-font-family;
}

h6,.title.is-6 {
	color: $meta-color;
	font-family: $body-font-family;
}
